/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* LO FA ALESSIO, MA NON VA FATTO PER FORZA */
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/
.float-container {
    border: 3px dashed red;
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.box {
    width: 200px;
    height: 200px;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}